(function($) {
  var ready = function(e) {
    $('.<%= LazyElements.config.class_name %>').each(function(i, e) {
      var id   = $(e).data('id');
      var attr = $(e).data('attr');

      var params_h = {id: id, attr: attr}
      var params = jQuery.param(params_h)
      var req_url  = '<%= LazyElements.config.controller_path %>' + '?' + params

      $.get(req_url, function(json) {
        var html = json['template']
        $('.<%= LazyElements.config.class_name %>[data-id='+id+']').html(html);
      });
    });
  }

  $(document).ready(ready);
})(jQuery);
